/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&family=Wendy+One&display=swap');

/* font-family: 'Rajdhani', sans-serif;
font-family: 'Wendy One', sans-serif; */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* background-color: pink; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    width: 90vw;
}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 30px;

    /* position h3 to the end of each card */
    display: flex;
    align-items: end;

    flex: 0.5;
    margin: 1vw;

    /* hide overflowed h3,make sure each inactive card have the same width */
    overflow: hidden;

    cursor: pointer;
    transition: flex ease-in-out 1s;
    /* -webkit-transition: all 700ms ease-in; */
}

.panel h3 {
    font-family: 'Wendy One', sans-serif;
    color: azure;
    font-size: 30px;
    margin: 10px;
    opacity: 0;
    transition: opacity ease-out 1.3s;
}

/* expand card */
.panel.active {
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
}

@media only screen and (max-width: 480px) {
    .container {
        flex-direction: column;
        width: 100vw;
        height: 100vh;
    }
    .panel.active {
        /* flex-grow: 1; */
        flex: 1;
    }
}